@page "/"
@using PolicyInitiativeEditor.Client.Domain;
@using PolicyInitiativeEditor.Shared
@inject HttpClient Http

<PageTitle>Policy Initiative Bicep Builder</PageTitle>

<h1>Policy Initiative Bicep Builder</h1>
<RadzenStack Class="rz-m-12" Gap="2rem" Visible="@busyInitializing">
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    <RadzenText TextAlign="TextAlign.Center">Retrieving policy definitions</RadzenText>
</RadzenStack>
<RadzenTabs TabPosition="TabPosition.Top" Gap="0.5rem" Class="rz-pt-4 rz-pb-8" Visible="@(!busyInitializing)">
    <Tabs>
        <RadzenTabsItem Text="Define Initiative">
            <p>Select the policies that should be assigned to the initiative.</p>
            <InputFile OnChange="OnInputFileChange" class="btn btn-primary"></InputFile>
            <PolicyGridComponent Policies=@policies SelectedPolicies=@selectedPolicies SelectedPoliciesChanged="OnSelectedPoliciesChanged" />
        </RadzenTabsItem>
        <RadzenTabsItem Text="Create Bicep">
            @if (selectedPolicies == null || selectedPolicies.Count == 0)
            {
                <p><em>Please assign one or more policies to the initiative.</em></p>
            }
            else
            {
                <BicepRendererComponent Policies=@selectedPolicies Bicep=@existingInitiative />
            }
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>