@page "/"
@using PolicyInitiativeEditor.Client.Domain;
@using PolicyInitiativeEditor.Shared
@inject HttpClient Http
@inject BicepBuilder BicepBuilder

<PageTitle>Policy Initiative Bicep Builder</PageTitle>

<h1>Policy Initiative Bicep Builder</h1>

<RadzenTabs Change=@OnChangeTab TabPosition="TabPosition.Top" Gap="0.5rem" Class="rz-pt-4 rz-pb-8">
    <Tabs>
        <RadzenTabsItem Text="Define Initiative">
            <p>Select the policies that should be assigned to the initiative.</p>
            @if (policies == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <RadzenDataGrid Data="@policies" TItem="Policy" AllowColumnResize=true AllowSorting=true
                                AllowMultiColumnSorting=true AllowFiltering=true FilterMode="FilterMode.Simple" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowGrouping=true AllowAlternatingRows=true
                                SelectionMode="DataGridSelectionMode.Multiple" AllowPaging=true PageSize="25" AllowColumnPicking=true
                                PagerPosition="PagerPosition.TopAndBottom"
                @bind-Value=@selectedPolicies>
                    <Columns>
                        <RadzenDataGridColumn TItem="Policy" Property="Category" Title="Category" SortOrder="SortOrder.Ascending" Width="175px" />
                        <RadzenDataGridColumn TItem="Policy" Property="Type" Title="Type" Width="125px" />
                        <RadzenDataGridColumn TItem="Policy" Property="Name" Title="Name" SortOrder="SortOrder.Ascending" />
                        <RadzenDataGridColumn TItem="Policy" Property="Description" Title="Description" Groupable=false Sortable=false />
                    </Columns>
                </RadzenDataGrid>
            }
        </RadzenTabsItem>
        <RadzenTabsItem Text="Create Bicep">
            @if (selectedPolicies == null || selectedPolicies.Count == 0)
            {
                <p><em>Please assign one or more policies to the initiative.</em></p>
            }
            else
            {
                <div>
                    <RadzenCheckBox Change=@OnChangeOption TriState="false" TValue="bool" @bind-Value=@options.IncludePolicyDefinitionsSection Name="CheckBoxIncludePolicyDefinitionsSection" />
                    <RadzenLabel Text="Include 'policyDefinitions' section" Component="CheckBoxIncludePolicyDefinitionsSection" Style="margin-left: 8px; vertical-align: middle;" />
                </div>
                <div>
                    <RadzenCheckBox Change=@OnChangeOption TriState="false" TValue="bool" @bind-Value=@options.IncludeEffectParamater Name="CheckBoxIncludeEffect" />
                    <RadzenLabel Text="Include 'effect' parameter" Component="CheckBoxIncludeEffect" Style="margin-left: 8px; vertical-align: middle;" />
                </div>
                <RadzenTextArea Name="TextAreaBicep" Rows=30 Style="width: 100%; height: 100%" Value=@bicep />
            }
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>